<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script>
        $(document).ready(function(){
            //게시물 목록조회 ajax
            var page_number = 1;
            $("#post_list").html("")
            $.ajax({
                type: "GET",
                url: "/api/main/?page="+page_number,
                async: true,
                success: function(data) {
                    var data = data['results'];
                    if(data.length>0){
                        var str = "";
                        for(var i=0; i<data.length; i++){
                            var item = data[i];

                            str +="<tr><td>"+item.id+"</td>";
                            str +="<td><a name='title' href='detail/"+item.id+"' data-id='"+item.id+"'>"+item.title+"</a></td>";
                            str +="<td>"+item.author+"</td>";
                            str +="<td>"+item.regdate+"</td></tr>";

                            $("#post_list").html(str);
                        }
                    }
                }
            });
        })
    </script>
    <meta charset="UTF-8">
    <title>HaYoung Board</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <th>no</th>
                        <th>title</th>
                        <th>author</th>
                        <th>date</th>
                    </thead>
                    <tbody id="post_list">
                        <!-- 게시물 목록조회 내용 -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!--create(생성) 버튼
                    게시물 등록 페이지로 이동("post_form.html")-->
                <a href="form/" type="button" class="btn btn-primary">Create</a>
            </div>
        </div>
    </div>
</body>
</html>